*{
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}
body{
    overflow-x: hidden;
}
.banner-image{
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7)), url("../imgs/banner.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
}
.banner-card{
    width: 350px;
    height: 500px;
    background-color: #fff;
}
.row{
    padding-top: 10%!important;
}
.banner-content h6{
    font-size: 2em;
    color: crimson;
}
.banner-content h2{
    font-size: 4rem;
    letter-spacing: 6px;
    color: #fff;
    font-weight: 700;
    font-stretch: expande;
}
.banner-content p{
    color: #fff;
    font-size: 1.2em;
}
hr{
    width: 20%;
    border-color: #fff;
    border-width: 3px;
}
.readBtn{
    padding-left: 8%;
    padding-right: 8%;
    border-radius: 100px;
    font-size: 1.1rem;
    background-color:#e74c3c ;
    color: #fff;
    transition: 0.3s ease-in;
}
.readBtn:hover{
    letter-spacing: 2px;
    width: 40%;
    background-color: #000;
    color: #fff;
}
.card{
    width: 400px!important;
    height: 550px!important;
}
.card-body h5{
    color: crimson;
    font-size: 1.5em;
    letter-spacing: 2px;
    font-weight: 600;
}
.title h5{
    color: #000;
    font-weight: 600;
}
.title p{
    color: darkslategrey;
    font-size: 1rem;
    font-weight: 400;
}
.title hr{
    border-color: firebrick;
    border-width: 3px;
}
.about h5{
    font-size: 1.5rem;
    font-weight: 400;
    color: firebrick;
}
.about h5 span{
    font-weight:700;
    font-size: 1.5rem;
    letter-spacing: 1px;
}
.about p{
    font-size: 1rem;
    font-weight: 500;
    color: #000;
    letter-spacing: 1px;
    margin-top: 0.9rem;
}
.exp img,.history img{
    width: 100%;
    border-radius: 10px;
}
.exp h5,.history h5{
    margin-top: 10px;
    font-size: 1.2rem;
    color: crimson;
    text-align: left;
}
.exp p,.history p{
    color: #000;
    font-size: 0.9rem;
    text-align: left;
}
.details{
    width: 350px!important;
    height: 100%!important;
}
.details{
    box-shadow: 0px 15px 20px rgba(0,0,0,0.4);
}
.details img{
    width: 100%;
    position: relative;
    height: 350px;
    object-fit: fill;
}
.red-bar{
    width: 100%;
    padding:20px 0;
    background: red;
}
.upIcon span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translateX(-50%);
    position: absolute;
    font-size: 5rem;
}
.upIcon span i{
    color: red;
}
.red-bar h5{
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 600;
    letter-spacing: 3px;
}
.card-link h5{
    text-align: center;
    color: #000;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 0.95rem;
    margin-top: 20px;
}
.card-link h5:hover{
    letter-spacing: 3px;
    transition: 0.3s;
}
.building{
    background:url('../imgs/building.png');
    width: 100%;
    height: 100px;
}
.overlay{
    background-clip: content-box;
    background:linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0.6)),url('../imgs/employee.jpg');
    width: 100%;
    height:100vh;
    background-size: cover;
}
.content > *{
    color: #fff;
}
.content h5{
    padding:6%;
    border-left: 5px solid red;
    letter-spacing: 3px;
    font-size: 2.3rem;
    font-weight: 400;
}
.content h5 span{
    font-weight: 700;
}
.content p{
    margin-top:25px;
    letter-spacing: 2px;
    font-size: 1.3rem;
}
.features h6,.features p{
    margin-bottom: 10px;
    font-size: 1rem;
    text-transform: uppercase;
    color: #000;
    font-weight: 400;
}
.features h5{
    letter-spacing: 3px;
    margin-bottom:30px;
    font-weight: 700;
    font-size: 1.5rem;
    color: #000;
}
.box{
    width: 140px;
    height: 150px;
    background:rgba(220, 221, 225,0.6);
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.box img{
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}
.box h5{
    color:#000;
    font-weight: 500;
}
.box:hover{
    transition: 0.4s;
    transform: scale(1.2);
}
.team{
    text-align: center;
}
.team h5{
    color: #000;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 1.4rem;
    margin-bottom: 15px;
}
.team p{
    font-size: 1rem;
    color: #000;
}
.team hr{
    border-color: red;
    margin-top:20px;
}
.teamMembers img{
    width: 246px;
    height:350px;
    border-radius: 10px;
}
.exp-img{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.7)), url("../imgs/experience.jpg");
    width: 100%;
    background-size: cover;
    height: 100vh;
}
.exp-img > *{
    color: #fff;
}
.exp-img h5{
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 10px;
}
.exp-img p{
    font-size: 1rem;
}
.customers img{
    width: 150px;
    filter: grayscale(100%);
    cursor: pointer;
}
.contact span{
    font-size: 1.2rem;
}
.contact h5{
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 5px;
    font-size: 1rem;
    font-weight: 600;

}
.contact-section h2{
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 30px;
    font-size: 3.5rem;
}
.contact-section > h5{
    font-size: 1rem;
    color: crimson;
}
.form{
    background-color:#dfe6e9;
    padding:1.5rem 1rem;
    width: 80%;
}
.form-group input{
    height: 3.5rem;
    
}
.form-group textarea,.form-group input{
    border-color: darkgrey;
    background: none;
}
/* Media Queries */

@media only screen and (max-width:990px){
    .banner-image,.overlay,.exp-img{
        padding-bottom: 100px;
        height: auto;
    }
    .row{
        padding-top: 5%!important;
    }
    .banner-card{
        margin-top: 50px;
        width: 500px;
        height: 600px;
    }
    .details{
        width: 100%!important;
        margin-bottom: 20px;
    }
    .details img{
        object-fit: cover;
    }
    .upIcon span{
        top: 51.5%;
    }
    .details-md{
        margin-bottom: 20px;
    }
    .features-md{
        margin-top: 30px;
    }
    .box{
        width: 174px;
    }
    .teamMembers > div{
        margin-bottom: 20px;
    }
    .readBtn{
        width: auto!important;
    }
}

@media only screen and (max-width:542px){
    .banner-card{
        width: auto;
        height: auto;
    }
}

@media only screen and (max-width:425px){
    .upIcon span{
        top: 47.5%;
    }
    .details{
        margin-left: auto;
        margin-right: auto;
    }
}
@media only screen and (max-width:1024px){
    .banner-card{
        width: auto!important;
        height: auto!important;
    }
    .details{
        width: 300px!important;
    }
    .teamMembers img{
        width: 220px;
        object-fit: contain;
    }
}
@media only screen and (min-width:768px) and (max-width:1000px){
    .details{
        width: auto!important;
    }
}

